body,
html {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  background-color: rgb(55, 86, 116);
  color: gray;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.main {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
  height: 100vh;
}
.card {
  border-radius: 15px;
  box-shadow: rgb(45, 162, 170) 4px 1px 19px 4px;
  max-width: 200px;
  min-height: 300px;
  background-color: white;
}
.top {
  background-color: rgb(191, 242, 31);
  padding: 12px;
  clip-path: polygon(0 0, 0 90%, 100% 75%, 100% 0);
  width: fit-content;
  height: fit-content;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.image {
  height: auto;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
}
.image-transition {
  transition: all 0.3s ease-in-out;
}
.mid {
  margin-top: -45px;
  padding: 10px 12px 12px 12px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.name {
  font-size: 1.25rem;
  font-weight: 100;
}
.divider {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50px;
  height: 2px;
  background-color: rgb(191, 242, 31);
}
.subtitle {
  font-size: 0.8rem;
  text-align: right;
}
.icons {
  text-align: right;
}
.icon {
  width: 30px;
  border-radius: 10px;
}
.footer {
  font-weight: 600;
  font-size: 0.7rem;
  text-align: right;
}
.sync {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px 0;
}
#iconSync {
  width: 50px;
  cursor: pointer;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
